@page
@using Microsoft.AspNetCore.Mvc.Localization
@model HelloRazorModel
@{
    ViewData["Title"] = "HelloRazor";
}
@inject IViewLocalizer Localizer
<h1>@Model.Hello</h1>
<h2>@Localizer["Hello"]</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Input.InputField"></label><br />
        <input asp-for="Input.InputField" class="form-control" /><br />
        <label asp-for="Input.Email"></label><br />
        <input asp-for="Input.Email" class="form-control" />
        <br />
        <span asp-validation-for="Input.Email" data-valmsg-for="Input.Email" data-valmsg-replace="true" class="text-danger"></span>
        <br />
        <div class="button">
            <button type="submit" class="btn btn-default">Jetzt registrieren</button>
        </div>
    </div>
</form>
